.title {
    background-color: thistle;
}
.left-border {
    background-color: darkcyan;
}
.right-border {
    background-color: cadetblue;
}
.authors-navbar {
    background-color:  paleturquoise;
}
.block-content {
    background-color: lightsteelblue;
}
.daily-advice {
    background-color: mediumturquoise;
}
.rights-info {
    background-color: rosybrown;
}
.footer-menu {
    background-color: mistyrose;
}